/* Estilo global */
body, html {
    font-family: 'Bleeding_Cowboys', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

@font-face {
    font-family: 'bleeding_cowboys';
    src: url('AnyConv.com__Bleeding_Cowboys.woff2') format('woff2'),
         url('AnyConv.com__Bleeding_Cowboys.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Tela inicial */
#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b10000;
}

/* Botões */
button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #120000;
    color: #e50000;
    margin: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #120000;
}

/* Tela de seleção de nível */
#level-select-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #b10000;
}

.level-button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    background-color: #000;
    color: #b10000;
    border-radius: 5px;
    cursor: pointer;
}

.level-button:hover {
    background-color: #0a0000;
}

/* Canvas do Jogo */
#gameCanvas {
    display: none;
    width: 100vw;  /* 100% da largura da tela */
    height: 100vh; /* 100% da altura da tela */
    background-color: #4e1616;
}

/* Tela da História */
#story-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #b10000;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}

#story-text {
    font-size: 24px;
    color: #b10000;
}

#continue-text {
    font-size: 18px;
    color: #2c2626;
    margin-top: 20px;
}

/* Controles Mobile */
#mobile-controls {
    display: none; /* Inicialmente oculto */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    z-index: 100; /* Fica acima do jogo */
}


#mobile-controls button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: #0a0000;
    color: white;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;
    user-select: none; /* Previne a seleção de texto */
    -webkit-user-select: none; /* Compatibilidade com Safari */
    -ms-user-select: none; /* Compatibilidade com Internet Explorer */
}


#mobile-controls button:active {
    opacity: 1;
}




/*/////////////// PARTE DA ANIMAÇÃO FINAL CREDITOS ///////////////////*/

#mensagem-final {
    position: fixed;
    bottom: -100%; /* Começa fora da tela */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    color: #e50000;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    z-index: 1000;
    animation: subirMensagem 25s linear forwards; /* Aumentado para 30s */
}

#agradecimento-fixo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e50000;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    z-index: 1000;
    opacity: 1;
}

#mensagem-final img {
    margin-top: 10px;
    border-radius: 5px;
}

/* Animação de subida da mensagem */
@keyframes subirMensagem {
    from {
        bottom: -100%; /* Começa fora da tela */
    }
    to {
        bottom: 100%; /* Termina fora da tela, na parte superior */
    }
}

#mensagem-agradecimento {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #e50000;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 3s 70s forwards; /* Animação de fade-in após o agradecimento fixo desaparecer */
}

/* Animação de fade-in para a mensagem de agradecimento */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Remover rolagem para manter a tela fixa */
body {
    overflow: hidden;
}
